html {
    background-color: black;
    font-family: sans-serif;
}
body {
    margin: 0;
}
.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
h1 {
    text-shadow: 10px 10px 0 rgba(0,0,0,1);
    font-size: 100px;
    color: red;
}
.span{
    font-size: 30px;
    margin-left: 10px;
    color: white;
}
a{
    text-decoration-color: white;
}
.title{
    display: none;
}
@media (pointer:none), (pointer:coarse) {
    .title{
        display: block;
        text-align: center;
        color: white;
    }
}